@using GR.Core.Helpers;
@using GR.Identity.Abstractions;

@model GearUser


@{
    ViewData["Title"] = Model.UserFirstName + ' ' + Model.UserLastName;
}

	<div class="col-lg-6 bg-white border rounded py-15 px-20 ml-40px">
		<h6>@Localizer["details_overview"]</h6>
		<hr class="hr-description">
		<div class="row no-gutters">
			<div class="col-fixed-220">
				<p class="p-sm mb-0">@Localizer["system_first_name"]</p>
			</div>
			<div class="d-block mb-sm-0 mb-1">
				<p class="p-sm mb-0 color-black">@Model.UserFirstName</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-fixed-220">
				<p class="p-sm mb-0">@Localizer["system_last_name"]</p>
			</div>
			<div class="d-block mb-sm-0 mb-1">
				<p class="p-sm mb-0 color-black">@Model.UserLastName</p>
			</div>
		</div>
		<h6 class="mt-3">@Localizer["details_contact_details"]</h6>
		<hr class="hr-description">
		<div class="row no-gutters">
			<div class="col-fixed-220">
				<p class="p-sm mb-0">@Localizer["details_email"]</p>
			</div>
			<div class="d-block mb-sm-0 mb-1">
				<p class="p-sm mb-0 color-black">@Model.Email</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-fixed-220">
				<p class="p-sm mb-0">@Localizer["details_phone"]</p>
			</div>
			<div class="d-block mb-sm-0 mb-1">
				<p class="p-sm mb-0 color-black">@Model.PhoneNumber</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-fixed-220">
				<p class="p-sm mb-0">@Localizer["details_birthday"]</p>
			</div>
			<div class="d-block mb-sm-0 mb-1">
				<p class="p-sm mb-0 color-black">@Model.Birthday.ToString("dd/MM/yyyy")</p>
			</div>
		</div>
		@if (Model.AboutMe != null)
		{
			<h6 class="mt-3">@Localizer["details_about_me"]</h6>
			<hr class="hr-description">
			<div class="row no-gutters">
				<div class="d-block mb-sm-0 mb-1">
					<p class="p-sm mb-0 color-black">@Model.AboutMe</p>
				</div>
			</div>
		}
	</div>