@model GR.MultiTenant.Razor.ViewModels.ConfirmEmailViewModel
@{
	ViewData["Title"] = "Confirm Email";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@Localizer["system_sign_up"]</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="~/themes/gear/css/gear.min.css" />
	<link rel="stylesheet" type="text/css" href="~/themes/gear/css/loader.css" />
	<link rel="stylesheet" type="text/css" href="~/themes/public/css/style.css" />
</head>
<body>
	<div v-show="!dataLoaded" class="page-loader">
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
	<nav class="navbar navbar-light bg-white border-bottom py-0 px-40 main-nav">
		<a href="/" class="navbar-brand d-md-inline-block d-none">
			<img src="../themes/gear/img/logo.jpg" alt="" class="img-fluid">
		</a>
	</nav>
	<section id="wrapper" class="login-register login-sidebar d-flex">
		<div class="login-box mx-auto col-lg-4 col-md-6 col-sm-8 col-12">
			<h2 class="py-3 mb-0 fw-600 text-center">@Localizer["system_set_new_password"]</h2>
			<form class="form-horizontal position-relative card p-3 pt-4" id="form-confirm-invite" asp-controller="Company" asp-action="ConfirmInvitedUserByEmail" role="form" method="post">
				<input asp-for="UserId" type="hidden" />
				<input asp-for="Token" type="hidden" />
				<div class="form-content">
					<div class="form-group">
						<label for="username">@Localizer["email"]</label>
						<input id="username" class="form-control" asp-for="Email" readonly="readonly" disabled>
					</div>
					<div class="form-group">
						<label for="username">@Localizer["system_auth_password"]</label>
						<input class="form-control" asp-for="Password">
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="username">@Localizer["system_auth_repeat_password"]</label>
						<input class="form-control" asp-for="RepeatPassword">
						<span asp-validation-for="RepeatPassword" class="text-danger"></span>
					</div>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				</div>
				<div class="bottom-buttons d-flex justify-content-end">
					<div class="form-group mb-0">
						<div class="col-xs-12">
							<button class="btn btn-success btn-block" type="submit">@Localizer["system_confirm"]</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/tether/js/tether.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/themes/admin/js/admin-theme-script.js"></script>
	<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script src="~/lib/sticky-kit/sticky-kit.min.js"></script>
	<script src="~/lib/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
	<script src="~/assets/js/core.js" asp-append-version="true"></script>
	<script>
		$(window).ready(() => {
			$('.page-loader').fadeOut();
		});
	</script>
	<partial name="_ValidationScriptsPartial" />
</body>
</html>